@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e3dac9;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-light: #ffffff;
        --foreground: #e3dac9;
        --foreground-darker: #c6c6c6;
        --background-dark: #1a1b1e;
        --background-darker: #232428;
        --background: #27282c;
        --background-lighter: #313338;
        --background-light: #383A40;

    }
}

body {
    color: var(--foreground);
    background: var(--background-darker);
    font-family: monospace, sans-serif;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    
    

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 0.7s step-end infinite;
}

.route-header-li {
    @apply hover:text-[var(--foreground-light)] sm:px-2 max-sm:px-1 transition duration-100 ease-in-out;
}

.route-header-link {
    @apply transition duration-200 ease-in-out font-bold lg:text-lg max-sm:text-lg;
}

.contactMeFormInput {
    @apply w-full p-2 text-lg text-[var(--foreground-darker)] bg-[var(--background-dark)] 
{